@font-face {
    font-family: 'Lato_regular';
    src: url(./font/Lato-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Playfair';
    src: url(./font/PlayfairDisplay-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato_light';
    src: url(./font/Lato-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
    font-family: 'Lato_regular';
    color: #424242;
}

.wrap {
    width: 1800px;
}

.header {
    display: flex;
    width: 1800px;
    height: 64px;
    position: fixed;
    background-color: white;
}

.header > li {
    width: 33.33%;
    border-bottom: 1px solid #E1E1E1;
    height: 64px;
}

.header > :nth-child(1){
    text-align: left;
    font-size: 16px;
    line-height: 64px;
}

.header > :nth-child(2) {
    font-family: 'Playfair';
    font-size: 32px;
    line-height: 64px;
}

.header > :nth-child(3) > span {
    font-size: 16px;
    text-align: right;
    width: 220px;
    float: right;
    margin-top: 13px;
}

.main {
    width: 1500px;
    height: 700px;
    padding: 200px 230px 0 230px;
}

.name {
    height: 200px;
    width: 1040px;
}

.job {
    height: 300px;
    width: 877px;
}

.name > span {
    font-size: 144px;
    font-family: 'Playfair';
    float: left;
}

.job > span {
    font-size: 88px;
    color: #f35330;
    font-family: 'Playfair';    
    -webkit-text-stroke: 1px #000000;
    text-shadow: 0px 4px 4px;
    float: right;
}

.tag {
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    line-height: 21.6px;
}

.tag > li {
    text-align: left;
    font-weight: 300px;
    font-family: 'Lato_light';
}

.tag > li > span {
    font-weight: 600;
    font-family: 'Lato_light';
}

.profile {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.profile > div {
    width: 33.33%;
}

.profile > img {
    width: 33.33%;
    border-radius: 20px;
}

.profile > div > span {
    display: inline-block;
    width: 300px;
    font-size: 24px;
    line-height: 36px;
}

.works {
    margin-bottom: 200px;
}

.works_top {
    display: flex;
    width: 1200px;
    margin-bottom: 100px;
}

.works_top > :nth-child(1) {
    font-size: 112px;
    color: #f35330;
    font-family: 'Playfair';  
}

.works_top > :nth-child(2) {
    display: block;
    width: 500px;
    font-size: 24px;
    margin-top: 50px;
}

.works_bottom {
    width: 350px;
    height: 330px;
    padding: 30px 15px 30px 15px;
}

.works_bottom:hover {
    border:2px solid #f35330;
    border-radius: 10px;
}

.works_bottom > span {
    font-family: 'Lato_light';
    line-height: 25px;
}

.expertise_top {
    font-size: 112px;
    color: #f35330;
    font-family: 'Playfair';  
    display: block;
    float: left;
    margin-left: 396px;
}